
*.vsidx
*.vsidx
.vs/episode353.github.io/FileContentIndex/7b8a6777-4760-4dfd-888c-6c92a330ce0e.vsidx
.vs/episode353.github.io/FileContentIndex/ad140e9d-8bb7-4dcb-a809-89af144ce4d8.vsidx
.vs/episode353.github.io/FileContentIndex/d286419b-e7e1-41c2-b47e-0b7a1379ad9c.vsidx
