@font-face {
    src: url(../media/fonts/Daydream.ttf);
    font-family: daydream;
}

@font-face {
    font-family: minecraft;
    src: url(../media/fonts/Minecraft.ttf);
}


@font-face {
    font-family: viaappia;
    src: url(../media/fonts/viaappia.ttf);
}


body {
    background: linear-gradient(rgba(243, 255, 118, 0.5), rgba(247, 46, 46, 0.00)), url("../media/mc/block/mushroom_stem.png");
}

.container {
    width: 1200px;
    height: 1500px;
    font-family: 'quicksand', sans-serif;
    font-weight: bold;
    font-size: 20px;
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    grid-template-rows: 0.2fr 1fr 1fr 0.5fr;
    gap: 90px;
    padding: 50px;
    box-sizing: border-box;
    background-color: rgba(250, 255, 205, 0.2);
    border: 5px groove #0D47A1;
}


    .container div {
        background: #fbefcc;
        padding: 10px;
        border: 3px solid lightsteelblue;
    }

.header {
    grid-column-start: 1;
    grid-column-end: 4;
    font-family: daydream;
    font-weight: bold;
    font-size: 20px;
    text-shadow: 10px 10px 0px #fec652;
    grid-row-start: 1;
    grid-row-end: 2;
    color: #0D47A1;
}

.content-large {
    grid-row-start: 2;
    grid-row-end: span 2;
    grid-column-start: 1;
    grid-column-end: 3;
}

.footer {
    grid-column: 1 / span 3;
    height: 80px;

}

.content-large-fill {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 4;

}

/*Controls the height and formatting of the sidebar across all pages of the site*/

.header-content-iframe {
    height: 100%;
    width: 100%;
    border: 0px solid lightsteelblue;
    overflow: hidden;
}



/* CSS for the header */
/* THIS CONTROLLS THE GRID; TO CHANGE GRID*/
.header-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    text-align: center;
    height: 100%;
    overflow: hidden;
}
    /* CSS for the links in the sidebar */
    .header-content a {
        display: block;
        margin-bottom: 10px;
        color: #000;
        text-decoration: none;
    }

        .header-content a:hover {
            color: #fff;
            background-color: #000;
        }
/* CSS to clear the float */
.clearfix:after {
    content: "";
    display: table;
    clear;
}

#footer-iframe {
    grid-column: 1 / span 3;
    height: 10vh;
    background: snow;
    padding: 10px;
    border: 3px solid lightsteelblue;
}

.word-seppe {
    font-family: daydream;
    color: #0D47A1;
    font-size: 60%;
    text-shadow: 5px 5px 0px #fec652;
    vertical-align: top;
    margin-top: 20px; /* adjust this value to control the height of the raised text */
}


.word-red {
    color: red; /* makes the text red*/
}

/* CSS for the food review header links */
.food-review-headerlinks {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 40px;
    text-align: center;
}


.food-content-large-fill {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 4;
    gap: 50px;
    padding: 50px;
}


/* CSS for the food review body*/
.food-review-body {
    display: grid;
    grid-template-columns: 1fr 0.2fr;
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 40px;
    text-align: center;
    height: 100%;
}

.food-content-photo {
    border: 3px solid lightsteelblue;
}

.food-content-text {
    border: 3px solid lightsteelblue;

}

.food-content-rate {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 2;
    border: 3px solid lightsteelblue;
    width: 250px;
}

    .food-content-rate p {
        font-family: viaappia;
        font-weight: bold;
        font-size: 110px;
        text-shadow: 4px 4px 0px #fec652;
        color: #0D47A1;
        transform: translate(0px, 0px) rotate(-20deg);
    }   
    
    
    
    .food-content-bob p {
        font-size: 18px;

    }

.food-content-bob {
    border: 3px solid lightsteelblue;
}


.word-gold {
    color: #F1C40F; /* makes the text gold */
}

.word-very-light-blue {
    color: #A9CCE3; /* makes the text a very light shade of blue */
}

/*This code makes the content in the shuffle box centered vertically, remove it to disable this*/
#htmlshufflebox {
    /*display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;*/
}

/*Minecraft text springing*/

.minecraft-motd-text {
    color: #FFFF01;
    text-shadow: 5px 5px 0px #3F3F01;
    font-family: minecraft;
}
.mineceaft-motd-animation {
    animation-name: motd-grow-shrink;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    position: absolute;
    font-family: minecraft;
    display: inline-block;
}

@keyframes motd-grow-shrink {
    0% {
        font-size: 30px;
        transform: translate(170px, -150px) rotate(-20deg);
    }

    50% {
        font-size: 32px;
        transform: translate(170px, -150px) rotate(-22deg);
    }

    100% {
        font-size: 30px;
        transform: translate(170px, -150px) rotate(-20deg);
    }
}



