@font-face {
    src: url(../media/fonts/Daydream.ttf);
    font-family: daydream;
}


body {
    margin: 0;
    background-image: url("../media/jpg/IMG_4307.JPG");
    background-position: center; /* center the image */
}

.container {
    width: 1200px;
    height: 2000px;
    font-family: 'quicksand', sans-serif;
    font-weight: bold;
    font-size: 20px;
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    grid-template-rows: 0.2fr 1fr 1fr 0.5fr;
    gap: 50px;
    padding: 50px;
    box-sizing: border-box;
}


    .container div {
        background: snow;
        padding: 10px;
        border: 3px solid lightsteelblue;
    }

.header {
    grid-column-start: 1;
    grid-column-end: 4;
    font-family: daydream;
    font-weight: bold;
    font-size: 30px;
    text-shadow: 10px 10px 0px #FFCCFF;
    grid-row-start: 1;
    grid-row-end: 2;
}

.content-large {
    grid-row-start: 2;
    grid-row-end: span 2;
    grid-column-start: 1;
    grid-column-end: 3;
}

.footer {
    grid-column: 1 / span 3;
    height: 100%;
}

.content-large-fill {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 4;
}

/*Controls the height and formatting of the sidebar across all pages of the site*/

.sidebar-iframe {
    background: snow;
    border: 3px solid lightsteelblue;
    height: 410px;
    width: 120px;

    position: fixed;
    top: 0;
    left: 0;
    margin: 10px;
    padding: 10px;
}



/* CSS for the sidebar */
.sidebar {
    float: Right;
    background-color: #f1f1f1;
}
    /* CSS for the links in the sidebar */
    .sidebar a {
        display: block;
        margin-bottom: 10px;
        color: #000;
        text-decoration: none;
    }

        .sidebar a:hover {
            color: #fff;
            background-color: #000;
        }
/* CSS to clear the float */
.clearfix:after {
    content: "";
    display: table;
    clear;
}

#footer-iframe {
    grid-column: 1 / span 3;
    height: 10vh;
    background: snow;
    padding: 10px;
    border: 3px solid lightsteelblue;
}


.word-red {
    color: red; /* makes the text red*/
}



.word-gold {
    color: #F1C40F; /* makes the text gold */
}

.word-very-light-blue {
    color: #A9CCE3; /* makes the text a very light shade of blue */
}


#htmlshufflebox{
    overflow:hidden;
}
