@font-face {
    src: url(../media/fonts/Daydream.ttf);
    font-family: daydream;
}

@font-face {
    font-family: minecraft;
    src: url(../media/fonts/Minecraft.ttf);
}


@font-face {
    font-family: viaappia;
    src: url(../media/fonts/viaappia.ttf);
}

@font-face {
    font-family: overt;
    src: url(../media/fonts/Overt.ttf);
}



body {
    margin: 0;
    /*background-image: url('../media/mc/block/bone_block_side.png');*/
    background-image: url('../media/jpg/background_4.jpeg?v=2');
    image-rendering: pixelated;
    background-size: 14rem;
    transition: all 1s ease;

}

    body::before {
        content: "";
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: radial-gradient(ellipse at center, rgba(0,0,0,0%) 0%, rgba(0,0,0,0%) 80%, rgba(0,0,0,100%) 100%);
        pointer-events: none;
        background-size: auto;
        image-rendering: pixelated;

        z-index: -1;
    }


    /* Disable vignette effect on specific page */
    .no-vignette::before {
        background: none;
    }

.container {
    width: 70%;
    height: 2100%;
    font-family: 'quicksand', sans-serif;
    font-weight: bold;
    font-size: 20px;
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    box-sizing: border-box;
}


    .container div {
        background: #fbefcc;
        padding: 10px;
        border: 3px groove #92AAFC;
        border-radius: 10px;
    }

.header {
    grid-column-start: 1;
    grid-column-end: 4;
    font-family: daydream;
    font-weight: bold;
    font-size: 20px;
    text-shadow: 10px 10px 0px #fec652;
    grid-row-start: 1;
    grid-row-end: 2;
    color: #0D47A1;
}

.content-large {
    grid-row-start: 2;
    grid-row-end: span 2;
    grid-column-start: 1;
    grid-column-end: 3;
}

.footer {
    grid-column: 1 / span 3;
    height: 80px;

}

button {
    cursor: pointer;
}

.content-large-fill {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 4;
}

/*Controls the height and formatting of the sidebar across all pages of the site*/

.header-content-iframe {
    height: 100%;
    width: 100%;
    border: 0px solid lightsteelblue;
    overflow: hidden;
}




/* CSS for the header */
/* THIS CONTROLLS THE GRID; TO CHANGE GRID*/
.header-content {
    display: grid;
    grid-template-columns: repeat(3, 20%);
    grid-gap: 10px;
    text-align: center;
    vertical-align: middle;
    height: 80%;
    overflow: hidden;
    font-family: daydream;
    width: 70%;
    position: fixed;
    top: 20%;
    left: 50%;
    font-size: 60%;
}

    /* CSS for the links in the sidebar */
    .header-content a {
        display: block;
        margin-bottom: 10px;
        color: #000;
        text-decoration: none;
    }

        .header-content a:hover {
            color: #fff;
            background-color: #000;
        }
/* CSS to clear the float */
.clearfix:after {
    content: "";
    display: table;
    clear;
}

#footer-iframe {
    grid-column: 1 / span 3;
    height: 10vh;
    background: snow;
    padding: 10px;
    border: 3px solid lightsteelblue;
}

.word-seppe {
    font-family: daydream;
    color: #0D47A1;
    font-size: 60%;
    text-shadow: 5px 5px 0px #fec652;
    vertical-align: top;
    margin-top: 20px; /* adjust this value to control the height of the raised text */
}



/*Angry Text*/
.angry-text {
    font-size: 36px;
    font-weight: bold;
    color: red;
    animation: angry-text-vibrate 0.05s infinite alternate;
}

@keyframes angry-text-vibrate {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(.1rem);
    }
}


.word-red {
    color: red; /* makes the text red*/
}

/* CSS for the food review header links */
.food-review-headerlinks {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 0px;
    text-align: center;
    white-space: normal; /* or pre-wrap */
}


.food-content-large-fill {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 4;
    padding-top: 4rem !important;
    padding-bottom: 4rem !important;
    background-color: #E8DAB1 !important;
    /*
    background-color: blue !important;
        */
}

    .food-content-large-fill div {
        /*
    background-color: red;
        */
    }




#spinner-canvas {
    width: 60%; /* Set the desired width */
    height: 60%; /* Set the desired height */
}




/* CSS for the food review body*/
.food-review-body {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-columns: auto auto;
    height: 100%;
    gap: 5%;

}

img {
    image-rendering: auto;
}

.food-content-text {
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
    min-width: 20rem;

}

.food-content-rate {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 2;
    border: 3px solid lightsteelblue;
    max-width: 250rem;
    max-height: 250rem;
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
}

    .food-content-rate p {
        font-family: viaappia;
        font-weight: bold;
        font-size: 600%;
        text-shadow: 4px 4px 0px #fec652;
        color: #0D47A1;
        transform: translate(0px, 0px) rotate(-20deg);
    }

.food-sip {
    position: relative;
    max-width: 10em;
    vertical-align: bottom;
}
    
    .food-content-bob p {
        font-size: 18px;

    }




    .food-content-photo img{
        max-width:30rem;
    }



.food-content-bob {
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
    border: 3px solid lightsteelblue;
}



.food-review-picture {
    width: 12vw;
}

.word-gold {
    color: #F1C40F; /* makes the text gold */
}

.word-very-light-blue {
    color: #A9CCE3; /* makes the text a very light shade of blue */
}

/*This code makes the content in the shuffle box centered vertically, remove it to disable this*/
#htmlshufflebox {
    /*display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;*/
}

/*Minecraft text springing*/

.minecraft-motd-text {
    color: #FFFF01;
    text-shadow: 5px 5px 0px #3F3F01;
    font-family: minecraft;
}
.mineceaft-motd-animation {
    animation-name: motd-grow-shrink;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    position: absolute;
    font-family: minecraft;
    display: inline-block;
}

@keyframes motd-grow-shrink {
    0% {
        font-size: 30px;
        transform: translate(170px, -150px) rotate(-20deg);
    }

    50% {
        font-size: 32px;
        transform: translate(170px, -150px) rotate(-22deg);
    }

    100% {
        font-size: 30px;
        transform: translate(170px, -150px) rotate(-20deg);
    }
}

#header-logo {
    font-family: daydream;
    color: #0D47A1;
    text-shadow: 10px 10px 0px #fec652;
    text-align: center;
    font-size: 200%;
    position: fixed;
    top: -25px;
    left: 5%;
    width: 120px;
    height: 169px;
    text-decoration: none;
}


    #header-logo a:visited {
        color: #0D47A1;
        border-bottom: 2px solid #ddd; /* Retain the original line color for visited links */
    }

    #header-logo a:hover {
        color: #A1670D;
    }





@media only screen and (min-width: 0px) {
    /* 
    body {
        background-image: none;
        background-color: purple;

    }
     */

    #header-logo {
        font-size: 140%;
        top: 5px;
    }




    .container {
        width: 100%;
        padding: 0px;
        grid-template-rows: 0.05fr 1fr 1fr 0.5fr;
        grid-column-gap: 1%;
        grid-row-gap: 1%;
        /* padding-top: 1%; */
        /* font-size: 12px; */
    }



    .food-review-headerlinks {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }

    .food-review-body {
        display: unset;
        grid-template-columns: none;
        grid-template-columns: none;
    }



}


@media only screen and (min-width: 800px) {
    /*
    /*body {
        background-image: none;
        background-color: blue;
    }
     */

    #header-logo {
        font-size: 150%;
        top: 5px;
    }

    .footer {
        display: unset;
    }

    .header-content a {
        font-size: 140%;
    }

    .container {
        width: 100%;
        padding: 0px;
        grid-template-rows: 0.2fr 1fr 1fr 0fr;
        grid-column-gap: 3%;
        grid-row-gap: 3%;
        padding-top: 3%;
        grid-template-rows: 0.05fr 1fr 1fr 0.5fr;
        font-size: 12px;
    }


    .food-review-headerlinks {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);

    }


    .food-review-body {
        display: grid;
        grid-template-columns: auto auto;
        grid-template-columns: auto auto;
    }


}

@media only screen and (min-width: 1000px) {
    /*
    body {
        background-image: none;
        background-color: green;
    }
    */



    .container {
        width: 95%;
        grid-column-gap: 60px;
        grid-row-gap: 60px;
        padding-top: 50px;
        grid-template-rows: 0.05fr 1fr 1fr 0.5fr;
        font-size: 14px;
    }

    .footer {
        display: unset;
    }



}
@media only screen and (min-width: 1200px) {
    /*
    body {
        background-image: none;
        background-color: yellow;
    }
       */


    .food-review-headerlinks {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);

       
    }
    .container {
        width: 85%;
        grid-column-gap: 60px;
        grid-row-gap: 60px;
        padding-top: 50px;
        grid-template-rows: 0.05fr 1fr 1fr 0.5fr;
        font-size: 16px;
    }

    .footer {
        display: unset;
    }

}


@media only screen and (min-width: 1500px) {
    /* 
    body {
        background-image: none;
        background-color: orange;
    }
       */


    .container {
        width: 60%;
        grid-template-rows: 0.05fr 1fr 1fr 0.5fr;
        font-size: 18px;
    }

    .footer {
        display: unset;
    }




}

@media only screen and (min-width: 1920px) {
    /*
    body {
        background-image: none;
        background-color: red;

    }
   */

    .container {
        width: 60%;
        grid-template-rows: 0.05fr 1fr 1fr 0.5fr;
        grid-column-gap: 60px;
        grid-row-gap: 60px;
        padding-top: 50px;
        font-size: 24px;
    }

    .footer{
        display: unset;
    }

    #header-logo {
        font-size: 100%;
        top: 5%;
        text-align: center;
    }










}




/*Seep Coin text*/
.seep-coin-text {
    font-family: daydream;
    color: #0D47A1;
    font-size: 2em;
    text-shadow: 5px 5px 0px #1adb31;
    -webkit-mask-image: linear-gradient(-75deg, rgba(255,255,255,.2) 30%, #fff 50%, rgba(255,255,255,.2) 70%);
    -webkit-mask-size: 1%;
    animation: animate 20s infinite;
    border: none !important;
}

@keyframes animate {
    from {
        -webkit-mask-position: 150%;
    }

    to {
        -webkit-mask-position: -50%;
    }
}

.scoreboard-data {
    text-align: left;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 3em;
    border: none !important;
}



/*
//
//
//Authenticaion Style
//
//
*/
.header-login {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: url('../media/mc/block/obsidian.png');
    color: white;
    padding: 10px 20px;
    border: groove;
    border-color: #b2b5c7;
}

.logo {
    font-size: 24px;
}

.account-dropdown {
    position: relative;
}

.account-btn {
    background-color: transparent;
    border: none;
    color: white;
    text-shadow: white .1em .1em .5em;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.user-info {
    padding: 10px;
}

#logoutBtn {
    width: 100%;
    background-color: #f44336;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
}

.login-form-container {
    display: none;
    position: fixed;
    
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

    .login-form-container form {
        display: flex;
        flex-direction: column;
        /*Formatting for "LOGIN" text goes here*/
    }

    .login-form-container h2 {
        margin-bottom: 10px;
    }

    .login-form-container input {
        margin-bottom: 10px;
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 4px;
    }

    .login-form-container button {
        background-color: #333;
        color: #fff;
        border: none;
        padding: 10px;
        cursor: pointer;
    }

#loginFormContainer.draggable {
    cursor: grab;
}
